# 6 Pandas + Scikit-learn

### Считайте выборку из примера про детектирование кожи на фотографии с семинара с помощью библиотеки pandas. Продемонстрируйте индексацию по строкам и столбцам, labeled-based и index-based. Добавьте в DataFrameстолбцы, соответствующие попарным произведениям признаков и модулямпопарных разностей. Запустите на исходных признаках и на модифицированныхKNeighboursClassifier, LogisticRegression и Random Forest из sklearnи сравните качество работы каждого метода до и после преобразования признаков.

In [48]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from itertools import combinations
from sklearn.metrics import f1_score

In [49]:
data = pd.read_csv('Skin_NonSkin.txt', header = None, sep='\t' )
data.columns = ['a','b','c','d']
data.head()

    a   b    c  d
0  74  85  123  1
1  73  84  122  1
2  72  83  121  1
3  70  81  119  1
4  70  81  119  1

In [50]:
data['a'][:5]

0    74
1    73
2    72
3    70
4    70
Name: a, dtype: int64

In [51]:
data[['b','c']][:4]

    b    c
0  85  123
1  84  122
2  83  121
3  81  119

In [52]:
df = pd.DataFrame(data)

In [53]:
df[4:8]

    a   b    c  d
4  70  81  119  1
5  69  80  118  1
6  70  81  119  1
7  70  81  119  1

In [54]:
df['a*b'] = df['a']*df['b']
df['b*c'] = df['b']*df['c']
df['a*c'] = df['a']*df['c']
df['a-b'] = df['a']-df['b']
df['b-c'] = df['b']-df['c']
df['a-c'] = df['a']-df['c']

In [55]:
df

          a    b    c  d    a*b    b*c    a*c  a-b  b-c  a-c
0        74   85  123  1   6290  10455   9102  -11  -38  -49
1        73   84  122  1   6132  10248   8906  -11  -38  -49
2        72   83  121  1   5976  10043   8712  -11  -38  -49
3        70   81  119  1   5670   9639   8330  -11  -38  -49
4        70   81  119  1   5670   9639   8330  -11  -38  -49
5        69   80  118  1   5520   9440   8142  -11  -38  -49
6        70   81  119  1   5670   9639   8330  -11  -38  -49
7        70   81  119  1   5670   9639   8330  -11  -38  -49
8        76   87  125  1   6612  10875   9500  -11  -38  -49
9        76   87  125  1   6612  10875   9500  -11  -38  -49
10       77   88  126  1   6776  11088   9702  -11  -38  -49
11       77   88  126  1   6776  11088   9702  -11  -38  -49
12       77   88  126  1   6776  11088   9702  -11  -38  -49
13       78   89  127  1   6942  11303   9906  -11  -38  -49
14       77   85  125  1   6545  10625   9625   -8  -40  -48
15       78   86  126  1   6708  10836   9828   -8  -40  -48
16       78   86  126  1   6708  10836   9828   -8  -40  -48
17       77   85  125  1   6545  10625   9625   -8  -40  -48
18       76   84  124  1   6384  10416   9424   -8  -40  -48
19       77   85  125  1   6545  10625   9625   -8  -40  -48
20       80   88  128  1   7040  11264  10240   -8  -40  -48
21       83   91  131  1   7553  11921  10873   -8  -40  -48
22       83   91  131  1   7553  11921  10873   -8  -40  -48
23       84   92  132  1   7728  12144  11088   -8  -40  -48
24       84   92  132  1   7728  12144  11088   -8  -40  -48
25       83   91  131  1   7553  11921  10873   -8  -40  -48
26       80   88  128  1   7040  11264  10240   -8  -40  -48
27       78   86  126  1   6708  10836   9828   -8  -40  -48
28       78   86  126  1   6708  10836   9828   -8  -40  -48
29       79   87  127  1   6873  11049  10033   -8  -40  -48
...     ...  ...  ... ..    ...    ...    ...  ...  ...  ...
245027  162  161  110  2  26082  17710  17820    1   51   52
245028  162  161  110  2  26082  17710  17820    1   51   52
245029  162  161  110  2  26082  17710  17820    1   51   52
245030  162  161  110  2  26082  17710  17820    1   51   52
245031  162  161  110  2  26082  17710  17820    1   51   52
245032  162  161  110  2  26082  17710  17820    1   51   52
245033  165  164  113  2  27060  18532  18645    1   51   52
245034  165  164  113  2  27060  18532  18645    1   51   52
245035  165  164  113  2  27060  18532  18645    1   51   52
245036  165  164  113  2  27060  18532  18645    1   51   52
245037  165  164  113  2  27060  18532  18645    1   51   52
245038  164  163  112  2  26732  18256  18368    1   51   52
245039  164  163  112  2  26732  18256  18368    1   51   52
245040  164  163  112  2  26732  18256  18368    1   51   52
245041  163  162  112  2  26406  18144  18256    1   50   51
245042  163  162  112  2  26406  18144  18256    1   50   51
245043  163  162  112  2  26406  18144  18256    1   50   51
245044  163  162  112  2  26406  18144  18256    1   50   51
245045  163  162  112  2  26406  18144  18256    1   50   51
245046  163  162  112  2  26406  18144  18256    1   50   51
245047  163  162  112  2  26406  18144  18256    1   50   51
245048  163  162  112  2  26406  18144  18256    1   50   51
245049  163  162  112  2  26406  18144  18256    1   50   51
245050  163  162  112  2  26406  18144  18256    1   50   51
245051  163  162  112  2  26406  18144  18256    1   50   51
245052  163  162  112  2  26406  18144  18256    1   50   51
245053  163  162  112  2  26406  18144  18256    1   50   51
245054  163  162  112  2  26406  18144  18256    1   50   51
245055  163  162  112  2  26406  18144  18256    1   50   51
245056  255  255  255  2  65025  65025  65025    0    0    0

[245057 rows x 10 columns]

In [57]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df['d'], test_size=0.33, random_state=42)

In [58]:
classificationModels = [KNeighborsClassifier(), LogisticRegression(), RandomForestClassifier()]
names = ['KNeighbors', 'LogisticRegression', 'RandomForest']
for model, name in zip(classificationModels, names):
    model.fit(X_train, y_train)
    predicted = model.predict(X_test)
    print ('{0}: {1}'.format(name, f1_score(y_test, predicted)))

KNeighbors: 0.9983232528893947
LogisticRegression: 0.8071738296805402
RandomForest: 1.0

In [63]:

x = df['d']

df.pop('d')
df['d'] = x
df.head()

    a   b    c   a*b    b*c   a*c  a-b  b-c  a-c  d
0  74  85  123  6290  10455  9102  -11  -38  -49  1
1  73  84  122  6132  10248  8906  -11  -38  -49  1
2  72  83  121  5976  10043  8712  -11  -38  -49  1
3  70  81  119  5670   9639  8330  -11  -38  -49  1
4  70  81  119  5670   9639  8330  -11  -38  -49  1

In [61]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df['d'], test_size=0.33, random_state=42)

In [62]:
classificationModels = [KNeighborsClassifier(), LogisticRegression(), RandomForestClassifier()]
names = ['KNeighbors', 'LogisticRegression', 'RandomForest']
for model, name in zip(classificationModels, names):
    model.fit(X_train, y_train)
    predicted = model.predict(X_test)
    print ('{0}: {1}'.format(name, f1_score(y_test, predicted)))

KNeighbors: 0.9983232528893947
LogisticRegression: 0.8038524225811231
RandomForest: 0.9990409973627428

### Преобразование признаков повысило качество  методов